:root{
    --background-color: rgb(0, 0, 0);
    --main-color: rgb(7, 10, 44);
    --main-color-opacity: rgba(14, 21, 95, 0.5);

}

* {
    transition: .2s;
}

html,
body{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    line-height: 1.1;
}

hr {
    border: none;
    border-top: 3px dashed rgb(255, 255, 255, .9);
    width: 100%;
}

a{
    color: lightblue;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#overlay {
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.bold {
    font-weight: bold;
}

article {
    color: white;
    text-align: center;
    width: 60%;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-bottom: 50px;
    transform: translateX(-50%);
    background-color: var(--main-color-opacity);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 7px 0.5px white;
    padding: 50px;
    display: grid;
    place-items: center;

}

article *{
    text-align: center;
}

article .subtitle,
article hr,
article .project{
    max-width: 60%;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Color of the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Color on hover of the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.title {
    color: orange;
    text-shadow: orangered 1px 0 10px;
    font-size: 40px;
}

.sectiontitle {
    transform: translateY(42px);
    background-color: var(--main-color);
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.project {
    box-shadow: inset 0 0 10px 2px white;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.project:hover {
    box-shadow: inset 0 0 10px 5px white;
    cursor: pointer;
}

.project .ptitle {
    text-align: left;
    padding: 0;
    margin: 0;
    border: none;
}

.project .pdescription {
    padding: 0;
    border: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.project div {
    overflow: hidden;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}

.slider img {
    width: calc(100% - 100px);
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}


@media screen and (max-width: 768px){
    article .subtitle,
    article hr,
    article .project {
        max-width: 100%;
    }

    *{
        font-size: 95%;
    }

    .sectiontitle {
        transform: translateY(25px);
    }
}